@font-face {
  font-family: "ArminGrotesk-400";
  font-weight: 400;
  src: url("../fonts/ArminGroteskRegular.otf");
}
@font-face {
  font-family: "ArminGrotesk-500";
  font-weight: 500;
  src: url("../fonts/ArminGroteskSemiBold.otf");
}
@font-face {
  font-family: "ArminGrotesk-900";
  font-weight: 900;
  src: url("../fonts/ArminGroteskBlack.otf");
}
@font-face {
  font-family: "RobotoMono-700";
  font-weight: 700;
  src: url("../fonts/RobotoMonoBold.ttf");
}
