// Import the functions and variables:
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Add a custom breakpoints variable:
$custom-grid-breakpoints: (
  xs: 0,
  sx: 280px,
  sm: 390px,
  md: 400px,
  lg: 600px,
  xl: 840px,
  xxl: 1140px,
) !default;

$custom-container-max-widths: (
  sx: 230px,
  sm: 340px,
  md: 350px,
  lg: 550px,
  xl: 790px,
  xxl: 960px,
) !default;

$grid-breakpoints: map-merge($custom-grid-breakpoints, $grid-breakpoints);
$container-max-widths: map-merge(
  $custom-container-max-widths,
  $container-max-widths
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
